@charset "utf-8";

/****** header ******/
main header {}
main header h1 {
    font-family: "Playwrite Cuba", "Pacifico" cursive;
    font-size: 1.2em;
    color: #fff;
    background: #674188 url(./assets/images/logo.png) no-repeat 25px 50% / 90px;
    height: 130px;
    /* text-indent: -9999px; 
    font-size: 0;
    opacity: 0;
    user-select: none; 특정 부분 텍스트 제어. none; 텍스트 선택 x */

    /* text-indent: 100%;
    padding-left: 130px; */
    padding: 0 0 0 130px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
   

    
}
main header h1 em {
    font-family: "Pacifico", cursive;
    display: block; /* 줄바꿈 */
    line-height: 1;
    font-size: 2.1rem;
}

main header .gnb {
    display: flex;
    background-color: #fffc43;
    font-weight: 500;
    
    
}
main header .gnb li {}
main header .gnb li a {
    display: block;
    width: 130PX; height: 46PX;
    line-height: 46PX;
    text-align: center;
    color: #674188;
    
}
main header .gnb li a:hover {
    background: RED;
}


/****** contents ******/
main .contents {
    display: flex;
}
main .contents article { /* flex-item  flex-container*/
    background-color: #f3f3f3;
    width: 648px; /* box0sizing을 상속 받았기 때문에 실제 컨텐츠가 들어 갈 수 있는 width는 648 - p40 = 608 */
    width: 69.5278%; /* 648 / 932(box-sizing 적용되었기 때문) * 100 */
    /* flex-grow: 69.5278; aside에 flex-grow: 30.4722; */ 

    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px;
}
main .contents article figure { /* img290+b2+p16+m20=328 */
    font-style: italic;
    font-size: 14px;
    border: 1px solid #444444;
    background-color: #fff;
    padding: 8px;
    text-align: right;

    margin: 0 20px 40px 0;
}

main .contents article figure figcaption {
    /* line-height: 40px; */  
}

main .contents article .txt-wrapper {
    background-color: #f3f3f3 ;
    width: 279px; /* articl 약 608 - figure 328 = 280*/
    padding-top: 5px;
}

main .contents article .txt-wrapper h2 {
    font-weight: 700;
    font-size: 1.6rem;
}
main .contents article .txt-wrapper h3 {
    font-weight: 500;
    color: red;
    margin: 5px 0;
}
main .contents aside { /* flex-item */
    background-color: #ffffff;
    /* width: 30.4722%; */
    flex-grow: 1; /* 주로 0,1만 사용. 남는 갚을 알아서 채움 */
}
main .contents aside h2 {
    color: red;
    font-weight: 700;
    font-size: 1.6rem;
    margin: 35px 20px;
}
main .contents aside .recipe a {
    display: block;
    border-bottom:  1px solid red;
    font-size: 1.3rem;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}
main .contents aside .recipe a:hover {
    background-color: red;
    color: #ffffff;
}
main .contents aside address {
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 500;   
    padding-left: 20px;
    
}



